<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/products}" method="post" enctype="multipart/form-data">
        <label>제품명 : <input type="text" name="name"/></label><br/>
        <label>제품명 : <input type="file" multiple="multiple" name="imgFiles" accept="image/*"/></label><br/>
        <label>가격 : <input type="number" name="price"/></label><br/>
        <label>분류 : <input type="number" name="code"/></label><br/>
        <label>성별 : <input type="number" name="gender"/></label><br/>
        <label>사이즈 : <input type="number" name="size.s"/></label><br/>
        <label>사이즈 : <input type="number" name="size.m"/></label><br/>
        <label>사이즈 : <input type="number" name="size.l"/></label><br/>
        <label>사이즈 : <input type="number" name="size.xl"/></label><br/>
        <label>사이즈 : <input type="number" name="size.xxl"/></label><br/>
        <label>세부사항 : <input type="file" name="detailInfo" accept="image/*"/></label><br/>
        <button type="submit">등록</button>
    </form>
</body>
</html>