<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/product}" th:object="${product}" method="post">
        <label>제품명 : <input type="text" th:field="*{productName}"/></label><br/>
        <label>이미지 : <input type="text" th:field="*{productImg}"/></label><br/>
        <label>가격 : <input type="number" th:field="*{price}"/></label><br/>
        <label>분류 : <input type="number" th:field="*{category}"/></label><br/>
        <label>세부사항 : <input type="text" th:field="*{productInformation}"/></label><br/>
        <button type="submit">등록</button>
    </form>
</body>
</html>